@import '../Homecolors.scss';

.main-root{
    position: relative;
    left:11rem;
    top:1rem;
}

.Second-Health-slot-maindiv{
    position: absolute;
    top:0.5rem;
    left:2rem;
    border-radius: 1rem;
}

.Second-Health-card {
    background-color: #fff;
    width:100%;
    padding: 0rem 3rem 1rem 0rem;
    border-radius: 1rem;
}
.Subont-main-content {
    padding: 1rem 0rem 0rem 2rem;
}
.subont1 h3 {
      font-family: 'Poppins';
      font-size: 1.2rem;
      color: #605e5e;
      font-weight: 550;
}
.subont1 p{
    font-size: 0.8rem;
    font-family: 'Poppins';
    line-height: 1.5;
    padding: 0.5rem 0rem 0rem 0rem;
    font-weight: 300;
    color: #605e5e;
    width:60%;
}
.subont-img {
    position: absolute;
    top:0.5rem;
    right:1rem;
}

.subont-img img {
    width:85%;
}
.yt-button {
    padding:0.7rem 0rem 0.5rem 0rem;
}

.yt-button button {
    border: none;
    background-color: #E6F86D;
    border-radius: 5%;
    font-size: 0.9rem;
    padding: 0.8rem 3.5rem 0.8rem 3rem;
    font-family: 'Poppins';
    font-weight: 600;
}

.Second-health-card-maindiv {
    position: absolute;
    top:13.5rem;
    left:2rem;
}
.Table-card {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
}
.Table-card h3 {
    font-family: 'Poppins';
    padding: 0.5rem 0rem 0.4rem 0.5rem;
    color: #5a5a5a;
    font-size: 1rem;
}
.health-care-table {
    border-collapse: collapse;
}

.health-care-table thead tr th{
    background-color: #E6F86D;
    font-size: 0.8rem;
    color: #5a5a5a;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
}
.health-care-table tbody{
    text-align: left;
}
.health-care-table tbody tr td {
    font-family: 'Poppins';
    font-size: 0.8rem;
    color: #5a5a5a;
    padding: 1.2rem 1rem 1.5rem 0.5rem;
}
.health-care-table tbody tr td img {
    width:70%;
}
.third-card-maindiv{
    position: absolute;
    left:65%;
    top:3rem;
}
.third-health-Card {
    width:100%;
    background-color: #fff;
    box-sizing: border-box;
}


@media screen and (max-width:360px){
    .Second-Health-slot-maindiv {
        display: none;
    }
    .Second-health-card-maindiv{
        display: none;
    }

    .third-health-Card {
        display: none;
    }
}

@media screen and (max-width:414px) and (min-width:361px){
    .Second-Health-slot-maindiv {
        display: none;
    }
    .Second-health-card-maindiv{
        display: none;
    }

    .third-health-Card {
        display: none;
    }
}

@media screen and (max-width:320px){
    .Second-Health-slot-maindiv {
        display: none;
    }
    .Second-health-card-maindiv{
        display: none;
    }

    .third-health-Card {
        display: none;
    }
    
}
    





































































































































































   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  

